---
layout: page
title: Modules
url: /modules/
---


{% assign modules_array = site.modules | sort: "type" | reverse %}
{% for module in modules_array %}
{% if module.layout == "module" %}
<span class="module" id="module-{{ module.title | slugify }}"
      draggable="true" ondragstart="drag(event)">
  <span id="module-title" title="{{ module.summary }}">
    {{ module.title }}</span>
  <a target="_blank" href="{{ module.url }}">
    <img title="{{ module.type }} (press for info)" draggable="false" class="module-logo"
         {% if module.type == "structure" %}
         src="{% link assets/tabler_icons/building.svg %}" {% endif %}
         {% if module.type == "process" %}
         src="{% link assets/tabler_icons/rotate.svg %}" {% endif %}
         {% if module.type == "decision" %}
         src="{% link assets/tabler_icons/thumb-up.svg %}" {% endif %}
         {% if module.type == "culture" %}
         src="{% link assets/tabler_icons/palette.svg %}" {% endif %}
         /></a>
  <a onclick="this.parentNode.remove()" class="delete-module"
	 style="display:none">
	<img src="{% link assets/tabler_icons/x.svg %}" /></a>
</span>
{% endif %}
{% endfor %}
