---
layout: default
---
<article class="post">

  <header class="post-header">
    <div class="page-type"><a href="/guides/">Guide</a></div>
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

</article>
